html, body{
    height: 100vh;
}

/* comienza nav */

.rounded-circle {
    height: 80px;
    width: auto;
}

@media only screen and (max-width:575px) {
.rounded-circle {
    display: none;
}
}
.navbar {
    background-color: #ECCBB8;
}

.nav-link{
    color: #282739 !important;
}

.buttonColor{
    background-color: #282739;
}

/* fin nav */

.mainCol{
    background-color: #282739;
    color: #ECCBB8;
    height: 700px;
}

/* comienza que es*/

.jumbotron{
    background-color: #282739;
    text-align: center;
}

.card-header {
    background-color: #ECCBB8;
    font-weight: bolder;
}

.card-body {
    background-color: #282739;
}

.card-link{
    color: #282739 !important;
}

/* fin que es */


.imgQuien {
    height: 400px;
    width: auto;
}

@media only screen and (max-width: 425px) {

    .imgQuien{
        height: 300px;
        width: auto;
    }
}

.btn {
    background-color: #ECCBB8;
    color: #282739;
    border: #ECCBB8;
}

.logo{
    height: 60px;
    width: auto;
}

.logoInst{
    padding-left: 90%;
}

.logoWpp{
    padding-left: 10%;
}

.containerServicios{
    background-color: #ECCBB8;
    color: #282739;
}