html, body{
 min-height: 100vh;
}

$colors: (
    color1: #282739,
    color2: #ECCBB8,
);

*::selection{
    background-color: map-get($colors, color2);
    color: map-get($colors, color1);
}

//comienza nav

.rounded-circle {
    height: 80px;
    width: auto;
}

@media only screen and (max-width:575px) {
.rounded-circle {
    display: none;
}
}
.navbar {
    background-color: map-get($colors, color2);
    .nav-link{
        color: map-get($colors, color1) !important;
    }
    .nav-link:hover{
        font-weight: bolder;
    }
    .buttonColor{
        background-color: map-get($colors, color1 );
    }
}

//fin nav

.mainCol{
    background-color: map-get($colors, color1 );
    color: map-get($colors, color2);
}

// comienza Home

.mainHome{
    min-height: 650px;
    background-color: map-get($colors, color1);
}

.pHome{
    background-color:#282739a8;
}

@media only screen and (max-width: 460px) {
    .pHome{
        font-size: 15px !important;
    }
}

@media only screen and (max-width: 420px) {
    .pHome{
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 340px) {
    .pHome{
        font-size: 10px !important;
    }
}

//fin Home

//comienza que es

.jumbotron{
    background-color: map-get($colors, color1);
    text-align: center;
}

.card-header {
    background-color: map-get($colors, color2);
    font-weight: bolder;
    .card-link{
        color: map-get($colors, color1) !important;
    }
}

.card-body {
    background-color: map-get($colors, color1);
}

//fin que es

//comienza quien

.imgQuien {
    height: 400px;
    width: auto;
}

@media only screen and (max-width: 425px) {

    .imgQuien{
        height: 300px;
        width: auto;
    }
}

//fin quien

//comienza servicios

.contenedorServicios{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    grid-template-rows: 150px 150px 150px;
    text-align: center;
    padding: 8% 5%;
    text-align: center;
    .serv{
        color: map-get($colors, color1);
        font-size: 15px;
        font-weight: bolder;
        background-color: #f5d7c5;
        border: #f7b993 solid 1px;
        border-radius: 5px;
        padding: 7%;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        height: 100px;
    }

    .serv1::before{
        content: "Talleres de Juego";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.877);
        transition: .5s ease;
    }
    
    .serv1::after{
        content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta repellendus nam quidem eaque sapiente asperiores. Tempora.";
        align-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .5s ease;
        font-size: 10px;
        opacity: 0;
    }
    
    .serv1:hover::before{
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
    
    .serv1:hover::after{
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    
    .serv2::before{
        content: "Atención Individual";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.877);
        transition: .5s ease;
    }
    
    .serv2::after{
        content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta repellendus nam quidem eaque sapiente asperiores. Tempora.";
        align-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .5s ease;
        font-size: 10px;
        opacity: 0;
    }
    
    .serv2:hover::before{
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
    
    .serv2:hover::after{
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    
    .serv3::before{
        content: "Modalidad Presencial y/o Virtual";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.877);
        transition: .5s ease;
    }
    
    .serv3::after{
        content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta repellendus nam quidem eaque sapiente asperiores. Tempora.";
        align-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .5s ease;
        font-size: 10px;
        opacity: 0;
    }
    
    .serv3:hover::before{
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
    
    .serv3:hover::after{
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

@media only screen and (min-width:650px){

    .hServicios{
        font-size: 40px;
    }

    .contenedorServicios{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 250px);

        .serv{
            font-size: 20px;
            height: 200px;
        }

        .serv1{
            grid-column: 1;
            grid-row: 1;
        }
        .serv2{
            grid-column: 2;
            grid-row: 1;
        }
        .serv3{
            grid-column: 1/3;
            grid-row: 2;
        }
    
        .serv1::after{
            font-size: 14px;
        }
        .serv2::after{
            font-size: 14px;
        }
        .serv3::after{
            font-size: 14px;
        }
    }

}

//fin servicios

//comienza contacto

.btn {
    background-color: map-get($colors, color2);
    color: map-get($colors, color1);
    border: map-get($colors, color2);
}

.btn:hover{
    background-color: #ecbb9e;
    color: map-get($colors, color1);
    font-weight: bolder;
}

.logo{
    height: 60px;
    width: auto;
}

.logoInst{
    padding-left: 90%;
}

.logoWpp{
    padding-left: 10%;
}

//fin contacto

.containerServicios{
    background-color: map-get($colors, color2);
    color: map-get($colors, color1);
}